<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @directory.name %>
</p>

<%= link_to 'Edit', edit_directory_path(@directory) %> |
<%= link_to 'Back', directories_path %>
<%= link_to 'Upload Files', new_directory_file_upload_path(@directory) %>
 
 
<h5>Files</h5>
 
<ul>
 <% @directory.files.each do |file| %>
    <li><%= link_to file.filename, url_for(file) %></li>
 <% end %>
</ul>