<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @directory.title %>
</p>

<p>
  <strong>Directory:</strong>
  <%= @directory.directory_id %>
</p>

<%= link_to 'Edit', edit_directory_path(@directory) %> |
<%= link_to 'Back', directories_path %>
