<%= form_with(model: file_upload) do |f| %>
  <%= f.hidden_field :parent_id,
    value: file_upload.parent_id || params[:parent_id] %>
    <% byebug %>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: "form-control", required: true %>
  </div>
  <div class="form-group mt-2">
    <%= f.label :files %>
    <%= f.file_field :files, class: "form-control", multiple: true %>
  </div>
  <div class="mt-5">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
