<p style="color: green"><%= notice %></p>

<%= render @sub_folder %>

<div>
  <%= link_to "Edit this sub folder", edit_sub_folder_path(@sub_folder) %> |
  <%= link_to "Back to sub folders", sub_folders_path %>

  <%= button_to "Destroy this sub folder", @sub_folder, method: :delete %>
</div>
