<div id="app_folder_form" style="display:none;">
  <hr>
  <%= form_for @new_app_folder, url: folders_path, html: { multipart: true } do |f| %>
    <% frame_id = dom_id(@new_app_folder, 'folder_name_turbo_frame') %>
      <%= turbo_frame_tag frame_id do %>
        <%= f.text_field :folder_name %>
      <% end %>
    <%= f.hidden_field :parent_id, value: params[:id] %>
    <%= f.submit t('titles.create'), class: 'btn btn-primary' %>
  <% end %>
</div>