<td><%= link_to folder.name, folder %></td>
<td>folder</td>
<td><%= format_datetime(folder.created_at) %></td>
<td><%= format_datetime(folder.updated_at) %></td>
<td>
  <%= link_to 'Edit', edit_folder_path(folder) %>
  <%= button_to 'Destroy', folder_path(folder), method: :delete, form: { data: { turbo_confirm: "Are you sure?" } } %>
</td>
