<div id="<%= dom_id folder %>">
  <p>
    <strong>Name:</strong>
    <%= folder.name %>
  </p>

  <p>
    <strong>Lft:</strong>
    <%= folder.lft %>
  </p>

  <p>
    <strong>Rgt:</strong>
    <%= folder.rgt %>
  </p>

  <p>
    <strong>Parent:</strong>
    <%= folder.parent_id %>
  </p>

</div>
