<%= form_with(model: folder) do |form| %>
  <% if folder.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(folder.errors.count, "error") %> prohibited this folder from being saved:</h2>

      <ul>
        <% folder.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :parent_id %>

  <div class="form-control">
    <%= form.label :name, style: "display: block", class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="col-12 mt-3">
    <%= form.button "Salvar", type: "submit", :class=> "btn btn-primary" %>
  </div>
<% end %>
