<%= form_with model: folder, url: folders_path(current_folder: params[:current_folder]), method: :post, :html => {:class => "form-horizontal center"} do |form| %>

  <% if folder.errors.any? %>
    <div id="error_explanation">
      <h2>Houve um erro ao criar sua pasta:</h2>

      <ul>
        <% folder.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label "Nome da Pasta", class: "col-md-5 control-label" %>
    <div class="col-md-10">
      <%= form.text_field :folder_name, class: "form-control" %>
    </div>
  </div><br>

  <div>
    <%= form.submit "Criar Pasta", class: "btn btn-default btn-primary" %>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to 'Voltar', folder_path(params[:current_folder]) %>
  </div>
<% end %>
