<%= form_with(model: folder) do |form| %>
  <% if folder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(folder.errors.count, "error") %> prohibited this folder from being saved:</h2>

      <ul>
        <% folder.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label I18n.t('folder.form.name') %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.hidden_field :parent_id, value: form.object.parent_id  %>
  </div>

  <div class="actions">
    <%= form.submit I18n.t('folder.form.save'), class: 'btn btn-success text-white btn-sm mt-2' %>
  </div>
<% end %>
