<%= form_for(@folder) do |f| %>
  <% if @folder.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@folder.errors.count, "error") %> prohibited
        this folder from being saved:</h2>
      <ul>
        <% @folder.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Nome' %><br />
    <%= f.text_field :name %>

    <%= f.hidden_field :parent_id %>
  </div>

  <div class="actions">
    <%= button_tag 'Salvar' %>
  </div>
<% end %>