<p id="notice"><%= notice %></p>

<div class='d-flex mb-5'>
  <h2 class='mt-4 ms-4'>
    <%= I18n.t('folder.index.directory') %>
  <h2>
  <div class='mt-4 ms-2'>
    <%= I18n.t('folder.index.root') %>
  </div>
</div>

<div class='d-flex ms-4'>
  <%= link_to "<i class='bi bi-folder'></i> Nova Pasta".html_safe, new_folder_path, class: 'btn btn-primary text-white' %>
  <%= link_to "<i class='bi bi-file-earmark'></i> Novo Arquivo".html_safe, new_archive_path, class: 'btn btn-primary text-white ms-3' %>
</div>

<div class='d-flex'>
  <table class='table table-bordered m-4'>
    <thead>
      <tr>
        <th>
          <%= I18n.t('folder.index.table.name') %>
        </th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% if @folders.present? %>
        <% @folders.each do |folder| %>
          <tr>
            <td class='align-middle text-left'>
              <i class='bi bi-folder'></i>
              <%= link_to folder.name, folder_path(folder) %>
            </td>
            <td class='align-middle text-center'>
              <%= link_to "<i class='bi bi-pencil'></i> Editar".html_safe, edit_folder_path(folder), class: 'btn btn-secondary text-white btn-sm' %>
            </td>
            <td class='align-middle text-center'>
              <%= link_to "<i class='bi bi-trash'></i> Deletar".html_safe, folder, method: :delete, data: { confirm: I18n.t('folder.index.table.delete_confirmation')  }, class: 'btn btn-danger text-white btn-sm' %>
            </td>
          </tr>
        <% end %>
      <% end %>
      <% if @archives.present? %>
        <% @archives.each do |archive| %>
          <tr>
            <td>
              <i class='bi bi-file-earmark'></i>
              <%= archive.name %>
            </td>
            <td class='align-middle text-center'>
              <%= link_to "<i class='bi bi-pencil'></i> Editar".html_safe, edit_archive_path(archive), class: 'btn btn-secondary text-white btn-sm' %>
            </td>
            <td class='align-middle text-center'>
              <%= link_to "<i class='bi bi-trash'></i> Deletar".html_safe, archive, method: :delete, data: { confirm: I18n.t('folder.index.table.delete_confirmation')  }, class: 'btn btn-danger text-white btn-sm' %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
