<p style="color: green"><%= notice %></p>

<%= render @folder %>

<div>
  <%= link_to "Edit this folder", edit_folder_path(@folder) %> |
  <%= link_to "Back to folders", folders_path %>

  <%= button_to "Destroy this folder", @folder, method: :delete %>
</div>
