<p id="notice"><%= notice %></p>

  <% @path = @folder.path %>
  <%= render 'table'%>

&nbsp;&nbsp;&nbsp; <!-- desculpe voce ter que ver isso XD -->
<%= link_to 'Nova Pasta', new_folder_path(current_folder: @folder) %> &nbsp;|&nbsp;
<%= link_to 'Upload de Arquivo', file_upload_new_path(current_folder: @folder) %>
<% if !@folder.ref.nil? %>
  &nbsp;|&nbsp; <%= link_to 'Voltar', folder_path(@folder.ref.id) %><br>
<% end %>
