<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @folder.name %>
  <strong>Pasta pai:</strong>
  <%= @folder.parent_folder.present? ? @folder.parent_folder.name : "Raiz" %>
  <strong>Sub Pastas:</strong>
  <%= @folder.sub_folder.present? ? @folder.sub_folder.pluck(:name) : "Nenhuma sub pasta" %>
  <strong>Arquivos:</strong>
  <%= @folder.files.present? ? @folder.files.count : "Nenhum" %>
</p>

<%= link_to 'Edit', edit_folder_path(@folder) %> |
<%= link_to 'Back', folders_path %>
