<!-- Button trigger modal -->
<button type="button" class="btn btn-success bi-new" data-bs-toggle="modal" data-bs-target="#exampleModal">
  new sub folder
</button>

<%= turbo_frame_tag "folder" do %>


    <%= render @folder %>
  

  <div>
    <%= link_to "Edit this folder", edit_folder_path(@folder) %>

    <%= button_to "Destroy this folder", @folder, method: :delete %>
  </div>
<% end %>

<br>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New sub folder</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
  

         <%= form_with(model: @sub_folder) do |form| %>
          <% if @sub_folder.errors.any? %>
            <div style="color: red">
              <h2><%= pluralize(@sub_folder.errors.count, "error") %> prohibited this sub_folder from being saved:</h2>

              <ul>
                <% @sub_folder.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div>
            <%= form.label :name, style: "display: block" %>
            <%= form.text_field :name %>
             <%= form.text_field :folder_id_form_url, value: @folder.id if @folder.present?%>
          </div>

          <div>
            <%= form.submit %>
          </div>
        <% end %>


    </div>
  </div>
</div>

