<%= form_with(model: archive, local: true) do |form| %>
  <% if archive.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(archive.errors.count, "error") %> prohibited this archive from being saved:</h2>

      <ul>
        <% archive.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <br>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>
  <br>
  <div class="field">
    <%= form.label :file %>
    <%= form.file_field :file %>
  </div>
  <br>
  <div class="field">
    <%= form.label 'Select directory' %>
    <%= form.select :directory_id, options_for_select(Directory.all.map{|d|[d.title, d.id]}, :include_blank => 'name of your blank prompt') %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
  <br>
<% end %>
