<!DOCTYPE html>
<html>
  <head>
    <title>RubyDevTest1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <div class="container">
      <%= render 'layouts/message' if notice %>
      <%= render 'layouts/alert' if alert %>
      <%= yield %>
    </div>
  </body>
</html>
