<!DOCTYPE html>
<html>
  <head>
    <title>FileKong - Perfeito para roubar seus Bitcoins</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar" style="background-color: #4294FF;">
      <div class="w-100 d-flex justify-content-center">
        <h1 class="title">FileKong</h1>
      </div>
    </nav><br>

    <div class="content w-100 d-flex justify-content-center">
      <%= yield %>
    <div>
  </body>
</html>
