<!DOCTYPE html>
<html>
  <head>
    <title>RubyDevTest1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css" integrity="sha512-0/rEDduZGrqo4riUlwqyuHDQzp2D1ZCgH/gFIfjMIL5az8so6ZiXyhf1Rg8i6xsjv+z/Ubc4tt1thLigEcu6Ug==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>

  <body data-flash-messages="<%= JSON.dump(flash.to_a) %>">
    <div class="container-fluid d-flex d-column">
      <%= render 'shared/header' %>

      <main class="content flex-grow-1 mt-6 mb-6 light-style">
        <div class="file-manager-container file-manager-col-view">
          <%= yield %>
        </div>
      </main>

      <footer class="content fixed-bottom px-4 py-2 footer">
        <%= link_to root_path do %>
          <%= image_tag 'logo.png' %>
        <% end %>
      </footer>
    </div>
  </body>
</html>
