<!DOCTYPE html>
<html>
  <head>
    <title>RubyDevTest1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <header>
    <%= link_to 'Documents', documents_path %>
    <%= link_to 'Folders', folders_path %>
    <hr>
  </header>

  <body>
    <%= yield %>
  </body>

  <footer>
    <br><hr>
    <%= link_to 'Log out', destroy_user_session_path %>
  </footer>
</html>
